<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<div>
    <table>
        <tr>
            <th colspan="3">Car List</th>
        </tr>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
        <th:block th:each="car : ${cars}">
            <tr>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.year}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
